[alias]
	alias = "config --get-regexp ^alias"
	amend = "commit --amend"
	br = "branch"
	c = "commit"
	clean = "clean -fd"
	clonepr = "!f() { git fetch origin pull/$1/head:pr-$1 && git checkout pr-$1; }; f"
	co = "checkout"
	diffstat = "diff --stat"
	fixup = "commit --fixup"
	lg = "log --oneline --graph --decorate --all"
	logdiff = "log -p"
	ls = "ls-files"
	remotes = "remote -v"
	squash = "!f() { git rebase -i HEAD~$1; }; f"
	st = "status"
	undo = "reset --soft HEAD~1"
	unstage = "restore --staged"
	wip = "commit -m 'WIP'"

[color]
	ui = "auto"

[commit]
	gpgSign = false
	gpgsign = true

[core]
	autocrlf = "input"
	editor = "nvim"

[credential]
	helper = "cache --timeout=3600"

[diff]
	submodule = "log"

[filter "lfs"]
	clean = "git-lfs clean -- %f"
	process = "git-lfs filter-process"
	required = true
	smudge = "git-lfs smudge -- %f"

[init]
	defaultBranch = "main"

[merge]
	ff = "only"

[pull]
	rebase = "true"

[push]
	default = "simple"
  autoSetupRemote = "true"

[tag]
	gpgSign = false
[user]
	email = "git@blobfish.icu"
	name = "Ayrton Chilibeck"
  signingKey = {{ (fromYaml (include ".machine_config.yml")).git.signingKey }}
